<ion-header>
    <ion-toolbar>
        <ion-title>RegistrApp</ion-title>
    </ion-toolbar>
</ion-header>
<ion-toolbar>
    <ion-title>Registra la asistencia <br> fácilmente</ion-title>
</ion-toolbar>

<ion-content>
    <ion-img style="width: 100%; height: 100%;" src="/assets/escolares.png"></ion-img>
</ion-content>

<ion-toolbar>
    <ion-buttons slot="primary">
        <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar alumno"></ion-searchbar>
</ion-toolbar>


<ion-content class="content1">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button class="btn" fill="outline" color="primary" [routerLink]="['/login']">Iniciar sesión</ion-button>
        </ion-row>
        <br>
        <ion-row class="ion-justify-content-center">

            <ion-button class="btn" fill="outline" color="warning" [routerLink]="['/registro']">Crea tu cuenta</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>



<ion-content align="center">


</ion-content>