<ion-header>
    <ion-toolbar>
        <ion-title>contacto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar color="warning" type="danger" value="0.5"></ion-progress-bar>
    <ion-progress-bar value="0.8"></ion-progress-bar>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</ion-content>