<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>







<ion-content align="center">
    <ion-img style="width: 100%; height: 30%;" src="/assets/escolares.png"></ion-img>
    <ion-card>
        <ion-card-header>
            <ion-title>Ingresa tus datos</ion-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formularioLogin">
                <ion-item>
                    <ion-label position="floating" align="center">Nombre</ion-label>
                    <ion-input formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" align="center">contraseña</ion-label>
                    <ion-input formControlName="password"></ion-input>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="login()">Loguearte</ion-button>
    <ion-button [routerLink]="['/inicio']">Ir a inicio</ion-button>






</ion-content>