<ion-header>
    <ion-toolbar>
        <ion-title>RegistrApp</ion-title>
    </ion-toolbar>
</ion-header>


<ion-img style="width: 100%; height: 30%;" src="/assets/escolares.png"></ion-img>


<p align="center">
    <ion-text color="warning">Obtener asistencia de alumno</ion-text>
</p>

<!-- Búsqueda alumno por rut o  nombre-->
<ion-toolbar>

    <ion-buttons slot="primary">
        <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Ingresa nombre o rut"></ion-searchbar>
</ion-toolbar>

<ion-content align="center">

    <ion-title align="center" size="small">Ingresa la fecha de hoy y tus alumnos deberán escanear el código QR</ion-title>
</ion-content>


<!-- Seleccionar fecha-->
<mat-form-field appearance="fill">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-label>Fecha</mat-label>
    &nbsp;&nbsp;&nbsp;
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!-- Ir a scanner con fecha cargada-->
<ion-content align="center">
    <ion-button [routerLink]="['/scan']">Aceptar</ion-button>
</ion-content>
<ion-button color="warning" (click)="salir()" [routerLink]="['/inicio']">Cerrar sesión</ion-button>